body {
    overflow: hidden;
    min-height: 110vh;
    cursor: crosshair;
}

h4 {
    font-size: 9rem;
    text-align: center;
    margin-top: 30px;
    color: rgba(125, 125, 125, 0.55);
}

.bubble {
    position: absolute;
    border-radius: 500px;
    background: blue;
    opacity: 0;
    animation: anim 9s forwards;
    filter: hue-rotate(0deg);
}

@keyframes anim {
    to {
        top: -250px;
        left: var(--left);
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}
